<html>
<head>
    <title>Team Stores - <%= result[0].city %></title>
</head>
<body>
<h1>Team Stores</h1>
<ul>
    <li>Team Store ID: <%= result[0].store_id%></li>
    <li>Store Location: <%= result[0].city %></li>
    <li>Distributor: <%= result[0].distr_name %></li>
    <li>Team: <%= result[0].team_name %></li>
</ul>
</body>

</html>