<html>
<head>
    <title>Merchandise Sales - <%= result[0].order_number %></title>
</head>
<body>
    <h1>Merch Sales</h1>
    <ul>
        <li>Order Number: <%= result[0].order_number%></li>
        <li>Sale Date: <%= result[0].sale_date %></li>
        <li>Distributor Name: <%= result[0].distr_name%></li>
        <li>Customer ID: <%= result[0].customer_id%></li>
        <br />

    <h2> Our customer information is confidential on this page; please refer to customer id.</h2>

    </ul>
</body>

</html>