<html>
    <head>
        <title>Merchandise Sale Orders</title>
    </head>
    <body>
        <h1>Merchandise Sale Orders</h1>
        <a href="/merchSales/add">Add A New Order</a> <br />
        <br />

        <table border=4>
            <tr><th>Order Number</th><th>Customer</th> <th>Distributor</th><th>Order Total</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/merchSales/?order_number=<%= result[i].order_number %>"><%= result[i].order_number%></a></td>
                <td><%=result[i].first_name%></td> <td><%= result[i].distr_name %> </td>
                <td>$<%= result[i].price %></td>

                <td>
                    <button onclick="event.preventDefault();window.location.href='/merchSales/edit2/?order_number=<%= result[i].order_number %>'">Edit</button>
                    <form action="/merchSales/delete/">
                        <input type="hidden" name="order_number" id="order_number" value="<%= result[i].order_number %>" />
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </body>

</html>